<ion-content>
  <!-- Área fixa -->
  <div class="header-fixo">
    <!-- Botão de voltar -->
    <button class="botao-seta" (click)="voltar()">
      <img class="seta" src="../../assets/images/seta.png" />
    </button>

    <!-- Logo e Títulos -->
    <img class="logo" src="../../assets/images/Logo.png" />
    <p class="titulo">{{ projeto.nomeProjeto }}</p>
    <p class="titulo2">Compras e <br> Contratações</p>

    <!-- Filtro Dropdown -->
    <ion-select class="botao" placeholder="Tudo" (ionChange)="menu($event)" interface="popover">
      <ion-icon slot="start" name="filter"></ion-icon>
      <ion-select-option value="tudo">Tudo</ion-select-option>
      <ion-select-option value="comprado">Comprado</ion-select-option>
      <ion-select-option value="faltante">Faltante</ion-select-option>
    </ion-select>
  </div>

  <!-- Área rolável (cartões) -->
  <div class="conteudo-rolavel">
    <ion-card *ngFor="let sistema of sistemas">
      <ion-card-header>
        <ion-card-title class="sistemas">{{ sistema.descricaoSistema }}</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngFor="let etapa of sistema.etapas">
        <ion-card-subtitle class="etapas">{{ etapa.descricaoEtapa }}</ion-card-subtitle>
        <div class="materiais" *ngIf="etapa.materiais && etapa.materiais.length > 0">
          <ion-item *ngFor="let material of getMateriais(etapa.materiais, abaselecionada)" lines="none">
            <ion-checkbox slot="start" [checked]="material.comprado"
              (ionChange)="onCheckMaterial(etapa, material)">
            </ion-checkbox>
            <ion-label>{{ material.descricaoMaterial }}</ion-label>
          </ion-item>
        </div>
      </ion-card-content>

      <ion-button fill="clear" style="color: #ff4c4c;">ADICIONE AQUI</ion-button>

    </ion-card>
  </div>
</ion-content>
