.seta {
  display: flex;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  position: fixed;
  top: 50px;
  left: 50px;
}
.logo {
  display: flex;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  position: fixed;
  top: 60px;
  left: 50%;
}

.titulo {
  position: relative;
  width: 100%;
  top: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #000;
  margin-bottom: 30px;
}

.titulo2 {
  position: relative;
  width: 100%;
  top: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #000;
  margin-bottom: 30px;
}

.botao {
  padding: 20px 0px 0px 30px;
}

ion-select::part(icon) {
  color: #767676;
  opacity: 1;
  size: 20px;
}

ion-checkbox {
  --size: 25px;
  --checkbox-background-checked: #ff4c4c;
  --border-checked: 2px solid #ff4c4c;
}

ion-checkbox::part(container) {
  border-radius: 50%;
  border: 1px solid gainsboro;
}

ion-card {
  --background: gainsboro;
  margin: 0px 20px 20px 20px;
  --width: calc(100% - 100px);
}

ion-card-content {
  padding: 10px 10px 0px 10px;
}

ion-card-header {
  padding: 20px 20px 0px 20px;
}

.sistemas {
  font-size: 22px;
}

.etapas {
  font-size: 18px;
  padding-left: 10px;
}

.materiais {
  font-size: 16px;
  background-color: gainsboro;
}

ion-item::part(native) {
  background: transparent;
}

ion-content {
  height: calc(100% - 260px);
  top: 0px;
}
