<ion-content [fullscreen]="true">

  <button class="botao-seta" (click)="voltar()">
    <img class="seta" src="../../assets/images/seta.png" />
  </button>
  <img class="logo" src="../../assets/images/Logo.png" />
  <p class="titulo">Nome Projeto</p>

  <p class="titulo2">Compras e contratações</p>

  <ion-content class="cinza">
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button style="font-size: 20px; height: 40px;" value="faltante">
        <ion-label>Faltante</ion-label>
      </ion-segment-button>
      <ion-segment-button style="font-size: 20px; height: 40px;" value="comprado">
        <ion-label>Comprado</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ng-container *ngIf="segment === 'faltante'">
      <ion-card *ngFor="let etapa of etapas">
        <ion-card-header>
          <label class="etapa">{{etapa.descricao}}</label>
        </ion-card-header>

        <ion-card-content>
          <!-- Processo -->
          <div *ngFor="let processo of etapa.Processo" class="processo">
            <div class="processo">
              <strong>{{ processo.descricao }}</strong>
            </div>

            <!-- Atividades -->
            <ng-container *ngFor="let atividade of processo.atividade">
              <ng-container *ngIf="atividade.material && atividade.material.length > 0">
                <div class="atividade">
                  <div class="atividade-header">
                    <p>{{ atividade.descricao }}</p>
                  </div>

                  <!-- Materiais com grau 0 -->
                  <div class="material-list">
                    <div *ngFor="let material of atividade.material">
                      <div *ngIf="material.grau === 0" class="material-item">
                        <ion-item lines="none">
                          <ion-checkbox slot="start" (ionChange)="onCheckMaterial(atividade, material)">
                          </ion-checkbox>
                          <ion-label>{{ material.descricao }}</ion-label>
                        </ion-item>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>

          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ng-container *ngIf="segment === 'comprado'">
      <ion-card *ngFor="let etapa of etapas">
        <ion-card-header>
          <label class="etapa">{{etapa.descricao}}</label>
        </ion-card-header>

        <ion-card-content>
          <!-- Processo -->
          <div *ngFor="let processo of etapa.Processo" class="processo">
            <div class="processo">
              <strong>{{ processo.descricao }}</strong>
            </div>

            <!-- Atividades -->
            <ng-container *ngFor="let atividade of processo.atividade">
              <ng-container *ngIf="atividade.material && atividade.material.length > 0">
                <div class="atividade">
                  <div class="atividade-header">
                    <p>{{ atividade.descricao }}</p>
                  </div>

                  <!-- Materiais com grau 0 -->
                  <div class="material-list">
                    <div *ngFor="let material of atividade.material">
                      <div *ngIf="material.grau === 1" class="material-item">
                        <ion-item lines="none">
                          <ion-checkbox slot="start" (ionChange)="onCheckMaterial(atividade, material)">
                          </ion-checkbox>
                          <ion-label>{{ material.descricao }}</ion-label>
                        </ion-item>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>

          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <button class="botao" (click)="saveProjetoToFirestore()">Confirmar Compras</button>
  </ion-content>

</ion-content>
