<ion-content [fullscreen]="true">
  <div class="fundo">
    <div class="parte-branca">

      <button class="botao-seta"
        (click)="voltar()">
        <img class="seta" src="../../assets/images/seta.png" />
      </button>

      <img class="logo" src="../../assets/images/Logo.png" />

      <p class="titulo">COMUNIDADE</p>

      <p class="texto">O que você está <br> procurando?</p>

      <img class="pessoas" src="../../assets/images/img.comunidade.png" />

    </div>

    <button class="botao-branco"
      (click)="buscar()">
      Um profissional!
    </button>

    <button class="botao-preto"
      (click)="proximo()">
      Oferecer meus serviços.
    </button>

  </div>
</ion-content>
