<ion-content [fullscreen]="true" style="background-color: #41f08f;">
  <div class="verde">
  <div class="branco">
    <button class="botao-seta" (click)="voltar()">
      <img class="seta" src="../../assets/images/seta.png" />
    </button>
    <img class="logo" src="../../assets/images/Logo.png" />
    <h1 class="titulo">Comunidade</h1>
    <p class="texto">O que você está prourando?</p>
    <img class="imagem" src="../../assets/images/comunidade.png">
  </div>

  <button class="botao" style="background-color: white; font-weight: bold;" (click)="buscar()">
    Buscar profissionais
  </button>

  <button class="botao" style="background-color: black; color: white;" (click)="prestadores()">
    Cadastrar meus serviços
  </button>

  </div>

</ion-content>
