<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="checklist" href="/tabs/checklist">
      <ion-icon name="checkmark-circle-outline" aria-hidden="true" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="compras" href="/tabs/compras">
      <ion-icon name="bag" aria-hidden="true" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="resumo" href="/tabs/resumo">
      <ion-icon name="home-outline" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="diario" href="/tabs/diario">
      <ion-icon name="book" aria-hidden="true" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="calendar" href="/tabs/calendar">
      <ion-icon name="calendar" size="large"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
