<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nova Agenda </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item lines="none">
      <ion-label position="stacked">Tipo de Agenda</ion-label>
      <ion-input type="text" [(ngModel)]="tipoAgenda" placeholder="O que será feito ."></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Profissional </ion-label>
      <ion-input type="text" [(ngModel)]="nomeProfissional" placeholder="O que será Feito."></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Observação </ion-label>
      <ion-textarea  [(ngModel)]="observacao" placeholder="Observacao para o executante."></ion-textarea>
    </ion-item>


    <div class="loc-container">
      <ion-item lines="none">
        <ion-label position="stacked">Data Inicio</ion-label>
        <ion-input type="date" [(ngModel)]="dataInicio" placeholder="Início do  Atendimento ."></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Data Fim</ion-label>
        <ion-input type="date" [(ngModel)]="dataFim" placeholder="Fim do  Atendimento ."></ion-input>
      </ion-item>
    </div>


  </ion-list>
</ion-content>

<ion-footer>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button type="submit" class="content_button" (click)="onSave()" expand="full">
        Salvar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button type="submit" class="content_button" (click)="onCancel()" expand="full">
        Cancel
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-footer>
