<ion-content [fullscreen]="true" style="--background: #3D8FEF;">
  <button class="botao-seta" (click)="voltar()">
    <img class="seta" src="../../assets/images/seta.png" />
  </button>


  <ion-input class="titulo" ionFocus="openModal()" placeholder="NOVO PROJETO" [(ngModel)]="nomeProjeto" type="string"
    disabled></ion-input>


  <ion-accordion-group class="caixa" expand="inset">
    <ion-accordion *ngFor="let etapa of etapas">
      <!-- Header da etapa -->
      <ion-item slot="header" color="light" class="caixa1">
        <ion-label> {{ etapa.descricao }} </ion-label>
      </ion-item>

      <!-- Conteúdo da etapa -->
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let processo of etapa.Processo">
          <ion-item (click)="toggleProcess(processo)">
            <ion-icon [name]="processo.expanded ? 'remove-circle' : 'add-circle'" slot="start"></ion-icon>
            <ion-label>{{ processo.descricao }}</ion-label>
          </ion-item>

          <!-- Mostrar atividades se o processo estiver selecionado -->
          <div *ngIf="processo.expanded" class=" atividade-container">
            <ion-list *ngFor="let atividade of processo.atividade" class="atividade-item">
              <ion-item (click)="toggleAtividade(atividade)">
                <ion-icon [name]="atividade.expanded ? 'remove-circle' : 'add-circle'" slot="start"></ion-icon>
                <ion-label>{{ atividade.descricao }}</ion-label>
              </ion-item>

              <!-- Mostrar medidas se a atividade estiver selecionada -->
              <div *ngIf="atividade.expanded">
                <div *ngFor="let medida of atividade.medidas">
                  <ion-item class="medida-container">
                    <ion-label>{{ getMedidaLabel(medida) }}: </ion-label>
                    <ion-input type="text" [(ngModel)]="medida.valor"></ion-input>
                  </ion-item>
                </div>
              </div>
            </ion-list>
          </div>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>


  <ion-footer>
    <ion-button expand="full" class="botao-finalizar" (click)="confirmar()">Confirmar</ion-button>
  </ion-footer>
</ion-content>