body {
  overflow: -moz-hidden-unscrollable;
}

.seta {
  display: flex;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  position: fixed;
  top: 50px;
  left: 50px;
  background-color: #3D8FEF;
}

.titulo {
  position: fixed;
  width: 100%;
  margin: 0;
  transform: translate(-50%, 0%);
  left: 50%;
  top: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.botao-finalizar {
  position: fixed;
  width: 320px;
  height: 60px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 90%;
  border-radius: 20px;
  background-color: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.caixa {
  background-color:white;
  border-radius: 20px;
  font-size: 24px;
  height: 65%;
  width: calc(100% - 60px);
  position: fixed;
  top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  overflow-y: auto;
}

.caixa1 {
  font-size: 20px;
  height: 60px;
  align-content: center;
}

.caixa2 {
  font-size: 18px;
  margin-top: 1px;
  align-content: center;
  padding-left: 20px;
}

.caixa3 {
  font-size: 18px;
  vertical-align: middle;
  background-color: #cfe6ff;
  border-radius: 1px;
  width: calc(100%);
  //margin-top: 10px;
  margin-left: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.botao{
  background-color: #3D8FEF;
  border-radius: 20px;
  font-size: 24px;
  height: 50px;
  width: 280px;
  margin-left: 60px;
  margin-right: 20px;
  margin-top: 60px;
  color: white;
}



.p {
  padding-left: 30px;
  font-weight: bold;
}




