<ion-content [fullscreen]="true" style="--background: #3D8FEF;">
  <button class="botao-seta" (click)="voltar()">
    <img class="seta" src="../../assets/images/seta.png" />
  </button>


  <ion-input class="titulo" ionFocus="openModal()" placeholder="NOVO PROJETO" [(ngModel)]="nomeProjeto" type="string"
    disabled></ion-input>


  <ion-accordion-group class="caixa" expand="inset">
    <ion-accordion *ngFor="let sistema of sistemas">
      <!-- Header da etapa -->
      <ion-item slot="header" color="light" class="caixa1">
        <ion-label>{{sistema.descricaoSistema}} </ion-label>
      </ion-item>

      <!-- Conteúdo da etapa -->
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let etapa of sistema.etapas">
          <ion-item (click)="toggleProcess(etapa)">
            <ion-icon [name]="etapa.expanded ? 'remove-circle' : 'add-circle'" slot="start"></ion-icon>
            <ion-label>{{ etapa.descricaoEtapa }}</ion-label>
          </ion-item>
          <div *ngIf="etapa.expanded">
            <ion-item class="medida-container" *ngIf="etapa.coeficienteInput === 'S' || etapa.duracaoInput=== 'S'">
              <ion-label *ngIf="etapa.coeficienteInput === 'S'">Coeficiente:
                <ion-input type="text" [(ngModel)]="etapa.coeficiente"></ion-input>
              </ion-label>

              <ion-label *ngIf="etapa.duracaoInput === 'S'">Duração:
                <ion-input type="text" [(ngModel)]="etapa.duracao"></ion-input>
              </ion-label>
            </ion-item>
          </div>

          <div *ngIf="etapa.expanded && etapa.medidas.length > 0">
            <ion-item-divider class="medida-container">
              <ion-label>Medidas</ion-label>
            </ion-item-divider>

            <div *ngFor="let medida of etapa.medidas">
              <ion-item class="medida-container">
                <ion-label>{{ medida.descricaoMedida }}: </ion-label>
                <ion-input type="text" [(ngModel)]="medida.valor"></ion-input>
              </ion-item>
            </div>
          </div>


        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>


  <ion-footer>
    <ion-button expand="full" class="botao-finalizar" (click)="gravarDadosFiltrados()">Confirmar</ion-button>
  </ion-footer>
</ion-content>