<ion-content [fullscreen]="true">

  <div class="verde">
    <button class="botao-seta"
      (click)="voltar()">
      <img class="seta" src="../../assets/images/setaB.png" />
    </button>
    <div class="foto">    </div>
    <div class="nome">NOME</div>
    <div class="descricao">FUNÇÃO</div>
    <div class="descricao">CONTATO</div>
  </div>

  <p class="titulo">QUALIFICAÇÕES</p>
  <P class="texto">INSERIR TEXTO</P>

  <p class="titulo">GALERIA</p>
  <P class="texto">INSERIR FOTOS</P>

  <p class="titulo">AVALIAÇÕES</p>
  <P class="texto">INSERIR ESTRELAS</P>

</ion-content>
