<ion-content [fullscreen]="true">

  <div class="verde">

    <button class="botao-seta"
      (click)="voltar()">
      <img class="seta" src="../../assets/images/seta.png" />
    </button>

    <div class="titulo">Busca por profissional</div>

    <ion-searchbar color="light" placeholder="Buscar" [debounce]="50" (ionInput)="handleInput($event)"></ion-searchbar>

    <ion-list>
      <ion-item *ngFor="let result of results">
        <ion-label>{{ result }}</ion-label>
      </ion-item>
    </ion-list>

  </div>



</ion-content>
