<ion-content [fullscreen]="true">
  <div class="fundo">
    <button class="botao-seta"
      (click)="voltar()">
      <img class="seta" src="../../assets/images/seta.png" />
    </button>
    <img class="logo" src="../../assets/images/Logo.png" />
    <p class="titulo">PROJETOS EM EXECUÇÃO</p>
    <img class="menina" src="../../assets/images/img.projetos.png" />
    <button
      class="button"
      (click)="testar()">
      1º
    </button>
    <button
      class="button"
      (click)="testar()">
      2º
    </button>
    <button
      class="button"
      (click)="testar()">
      3º
    </button>
  </div>
</ion-content>
