<ion-content [fullscreen]="true">
  <div class="fundo">

    <button class="botao-seta"
      (click)="voltar()">
      <img class="seta" src="../../assets/images/seta.png" />
    </button>
    <img class="logo" src="../../assets/images/Logo.png" />

    <div class="parte-amarela" >
      <p class="titulo">TINTA</p>
      <ion-row>
        <ion-col class="caixa" size="7.5" style="margin-right: 6px;">
          <ion-input label="Altura:" [(ngModel)]="alt" [clearOnEdit]="true" type="number"></ion-input>
        </ion-col>
        <ion-col class="caixa" size="3" style="padding: 0px; padding-right: 10px; align-content: center; margin-left: 6px;">
          <ion-select label="" [(ngModel)]="unialt">
            <ion-select-option default >m</ion-select-option>
            <ion-select-option>cm</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="caixa" size="7.5" style="margin-right: 6px;">
          <ion-input label="Largura:" [(ngModel)]="larg" [clearOnEdit]="true" type="number"></ion-input>
        </ion-col>
        <ion-col class="caixa" size="3" style="padding: 0px; padding-right: 10px; align-content: center; margin-left: 6px;">
          <ion-select label="" [(ngModel)]="unilarg">
            <ion-select-option default >m</ion-select-option>
            <ion-select-option>m</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-select class="caixa" label="Tipo" [(ngModel)]="tipo" style="padding-left: 20px; padding-right: 20px;">
        <ion-select-option default >Acrílica</ion-select-option>
        <ion-select-option>Látex</ion-select-option>
        <ion-select-option>Epoxi</ion-select-option>
      </ion-select>
      <ion-select class="caixa" label="Passadas" [(ngModel)]="passadas" style="padding-left: 20px; padding-right: 20px;">
        <ion-select-option>1</ion-select-option>
        <ion-select-option default >2</ion-select-option>
        <ion-select-option>3</ion-select-option>
      </ion-select>

      <ion-button class="caixa" (click)="calcular()" style="background-color: black; color: white; padding-left: 0px;">
        CALCULAR
      </ion-button>
      <div class="caixa" style="color:#FFC71E;">{{quantidade}}</div>
      <ion-button class="duvida" id="duvida">?</ion-button>
      <ion-alert trigger="duvida"
      header="Traços de Concreto"
      sub-header="Especificações de diferentes traços"
      message="
      - Obras de responsabilidades: 40 MPa - Obras ordinárias: 25 MPa - Pavimentos: 30 MPa                        - Fundação: 20 MPa ">
      </ion-alert>

    </div>

  </div>
</ion-content>

