<ion-content [fullscreen]="true">
  <div class="fundo">

    <button class="botao-seta"
      (click)="voltar()">
      <img class="seta" src="../../assets/images/seta.png" />
    </button>
    <img class="logo" src="../../assets/images/Logo.png" />

    <div class="parte-amarela" >

      <p class="titulo">TELHAS</p>

      <ion-row>
        <ion-col class="caixa" size="8" style="margin-right: 6px;">
          <ion-input label="Largura:" [(ngModel)]="largura" [clearOnEdit]="true" type="number"></ion-input>
        </ion-col>
        <ion-col class="caixa" size="2.5" style="padding: 0px; padding-right: 10px; align-content: center; margin-left: 6px;">
          <ion-select label="" [(ngModel)]="unilarg">
            <ion-select-option>cm</ion-select-option>
            <ion-select-option default >m</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="caixa" size="8" style="margin-right: 6px;">
          <ion-input label="Comprimento:" [(ngModel)]="comprimento" [clearOnEdit]="true" type="number"></ion-input>
        </ion-col>
        <ion-col class="caixa" size="2.5" style="padding: 0px; padding-right: 10px; align-content: center; margin-left: 6px;">
          <ion-select label="" [(ngModel)]="unicomp">
            <ion-select-option>cm</ion-select-option>
            <ion-select-option default >m</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-select class="caixa" placeholder="Tipo" [(ngModel)]="tipo" style="padding-left: 20px; padding-right: 20px;">
        <ion-select-option default >Telha de barro</ion-select-option>
        <ion-select-option>Telha em CRFS</ion-select-option>
        <ion-select-option>Telha em fibra vegetal</ion-select-option>
        <ion-select-option>Telha ondulada translúcida</ion-select-option>
        <ion-select-option>Telha em poliéster reforçado</ion-select-option>
        <ion-select-option>Telha de vidro</ion-select-option>
        <ion-select-option>Telha tipo sanduíche</ion-select-option>
      </ion-select>


      <ion-button class="caixa" (click)="calcular()" style="background-color: black; color: white; padding-left: 0px;">
        CALCULAR
      </ion-button>

      <div class="caixa" style="color:#FFC71E;">{{resultado}}</div>

    </div>

  </div>
</ion-content>
