<ion-content [fullscreen]="true">

  <button class="botao-seta"
    (click)="voltar()">
    <img class="seta" src="../../assets/images/seta.png" />
  </button>
  <img class="logo" src="../../assets/images/Logo.png" />
  <p class="titulo">Nome Projeto</p>

  <p class="titulo2">Checklist</p>

  <div class="info">
    <div class="cinza">
      <p class="etapa">Fundação</p>
      <p class="processo">RADIER</p>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Camada de brita</ion-checkbox>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Impermeabilização</ion-checkbox>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Armadura</ion-checkbox>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Concretagem</ion-checkbox>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Cura</ion-checkbox>
    </div>

    <div class="cinza">
      <p class="etapa">Estruturas</p>
      <p class="processo">PILAR</p>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Montagem da forma</ion-checkbox>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Armadura</ion-checkbox>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Concretagem</ion-checkbox>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Cura</ion-checkbox>
      <br />
      <p class="processo">VIGA</p>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Montagem da forma</ion-checkbox>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Armadura</ion-checkbox>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Concretagem</ion-checkbox>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Cura</ion-checkbox>
    </div>

    <div class="cinza">
      <p class="etapa">Fundação</p>
      <p class="processo">RADIER</p>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Camada de brita</ion-checkbox>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Impermeabilização</ion-checkbox>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Armadura</ion-checkbox>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Concretagem</ion-checkbox>
      <ion-checkbox labelPlacement="end" justify="start" class="passo">Cura</ion-checkbox>
    </div>
  </div>

</ion-content>
