.header-fixo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: min-content;
  z-index: 10;
  background-color: white;
  padding-bottom: 10px;
}

.seta {
  display: flex;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  position: fixed;
  top: 50px;
  left: 50px;
}

.logo {
  display: flex;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  position: fixed;
  top: 60px;
  left: 50%;
}

.titulo {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-top: 90px;
  margin-bottom: 0px;
  color: #000;
}

.titulo2 {
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin: 15px 0px 5px 0px;
  padding-left: 30px;
}

.conteudo-rolavel {
  margin-top: 212px;
  padding: 0px 30px 20px 30px;
  height: calc(100vh - 180px);
  overflow-y: auto;
}

ion-card {
  margin: 0px 0px 20px 0pX;
  --background: gainsboro;
}

ion-card-header {
  padding: 20px;
}

.sistemas {
  font-size: 22px;
}

.etapas {
  font-size: 18px;
}

.passos {
  font-size: 16px;
  background-color: gainsboro;
}

ion-checkbox {
  --size: 25px;
  --checkbox-background-checked: #ff4c4c;
  --border-checked: 2px solid #ff4c4c;
}

ion-checkbox::part(container) {
  border-radius: 50%;
  border: 1px solid gainsboro;
}

ion-item::part(native) {
  background: transparent;
}
