<ion-content [fullscreen]="true">

  <button class="botao-seta" (click)="voltar()">
    <img class="seta" src="../../assets/images/seta.png" />
  </button>
  <img class="logo" src="../../assets/images/Logo.png" />
  <p class="titulo">{{nomeProjeto}}</p>

  <p class="titulo2">Checklist</p>

  <div class="cinza" *ngFor="let sistema of sistemas">
    <p class="etapa">
      {{ sistema.descricaoSistema }} - {{ sistema.percentualExecutado | number: '1.2-2' }}%
    </p>

    <!-- Loop para cada etapa do sistema -->
    <div *ngFor="let etapa of sistema.etapas">
      <p class="processo">{{ etapa.descricaoEtapa }} - {{etapa.executadoEtapa}}%</p>

      <!-- Loop para os passos da etapa -->
      <ion-checkbox labelPlacement="end" justify="start" class="passo" *ngFor="let passo of etapa.passos"
        [checked]="passo.checked" (ionChange)="atualizarPasso(sistema,etapa, passo)">
        {{ passo.descricaoPasso }}
      </ion-checkbox>
    </div>
  </div>

</ion-content>