.header-fixo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: min-content;
  z-index: 10;
  background-color: white;
  padding-bottom: 10px;
}

.seta {
  display: flex;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  position: fixed;
  top: 50px;
  left: 50px;
}

.logo {
  display: flex;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  position: fixed;
  top: 60px;
  left: 50%;
}

.titulo {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-top: 90px;
  margin-bottom: 0px;
  color: #000;
}

.titulo2 {
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin: 15px 0px 10px 0px;
  padding-left: 30px;
}

.conteudo-rolavel {
  margin-top: 330px;
  padding: 0px 30px 20px 30px;
  height: calc(100vh - 180px);
  overflow-y: auto;
}

.botao {
  height: 60px !important;
  width: calc(100% - 60px) !important;
  margin: 5px 30px 10px 30px;
  background-color: #ff4c4c;
  border-radius: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}



ion-card {
  margin: 0px 0px 20px 0pX;
  --background: gainsboro;
}

ion-card-header {
  padding: 20px;
}

.titulo-nota {
  font-size: 22px;
}

.data {
  font-size: 18px;
}

ion-item::part(native) {
  background: transparent;
}
