<ion-content class="borda">
  <div class="caixa">

  <p style="color: #3d8FEF">
    Cadastre seu <br/> projeto aqui
  </p>

  <ion-list>

      <ion-label position="stacked">Nome do Projeto</ion-label>
      <ion-input type="text" [(ngModel)]="nomeProjeto" placeholder="Digite aqui"></ion-input>

      <ion-label position="stacked">Cliente</ion-label>
      <ion-input type="text" [(ngModel)]="cliente" placeholder="Digite aqui"></ion-input>

      <ion-label position="stacked">CEP</ion-label>

    <ion-row>
      <ion-col size="7">
        <ion-input type="text" [(ngModel)]="cep" placeholder=" Digite aqui"></ion-input>
      </ion-col>
      <ion-col>
        <button class="confirma" (click)="getCep()">Confirma</button>
      </ion-col>
    </ion-row>

      <ion-label position="stacked">Endereço</ion-label>
      <ion-input type="text" [(ngModel)]="logradouro" placeholder=" Digite aqui"></ion-input>

      <ion-label position="stacked">Número</ion-label>
      <ion-input type="number" [(ngModel)]="numero" placeholder=" Digite aqui"></ion-input>

      <ion-label position="stacked">Bairro</ion-label>
      <ion-input type="text" [(ngModel)]="bairro" placeholder=" Digite aqui"></ion-input>

      <ion-label position="stacked">Complemento</ion-label>
      <ion-input type="text" [(ngModel)]="complemento" placeholder=" Digite aqui"></ion-input>

      <ion-label position="stacked">Data Inicio</ion-label>
      <ion-input type="date" [(ngModel)]="dataInicio"></ion-input>

  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="onSave()" expand="full">
        Salvar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button type="submit" class="content_button" (click)="onCancel()" expand="full">
        Cancelar
      </ion-button>
    </ion-col>

  </ion-row>
  </div>
</ion-content>
