.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
  align-items: center;
}

.calendar {
  height: min-content;
}

.main_content_div {
  width: 100%;
  padding: 16px;

  .page_title {
    font-family: "semi-bold";
    font-size: 24px;
    margin-bottom: 16px;
  }

  .address_div {
    padding: 16px;
    background: white;
    margin-bottom: 16px;
    position: relative;

    .name_lbl {
      font-family: "medium";
      margin-bottom: 5px;
    }

    .address_flex {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      ion-icon {
        color: #a2aac1;
        font-size: 14px;
        margin-bottom: 3px;
      }

      ion-label {
        font-size: 12.5px;
        color: #a2aac1;
        margin-left: 8px;
      }

      .complete_addr {
        color: black;
        font-size: 14px;
        width: 90%;
      }
    }

    .arrow_icn {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      color: #a2aac1;
    }
  }

  .add_btn {
    background: #eef1f8;
    border-radius: 8px;
    border: 2px dashed #b8bcc6;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-label {
      text-align: center;
      color: #b8bcc6;
      font-size: 15px;
    }
  }
}


.progress-outer {
  width: 100%;
  height: 40px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.progress-inner {
  height: 100%;
  background-color: #007bff;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}

.cinza {
  background-color: gainsboro;
  position: relative;
  width: 95%;
  left: 10px;
  border-radius: 20px;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
}

