<ion-content [fullscreen]="true">
  <div class="fundo">

    <div class="parte-branca">
      <img class="cara" src="../../assets/images/imagem.home.png"/>
      <img class="logo" src="../../assets/images/Logo.png" />
      <p class="texto1">BEM VINDO,</p>
      <P class="texto2">Bora começar!</P>
    </div>

    <button class="botao" (click)="login()" style="color: black; background-color: white;">
      ENTRAR
    </button>

    <button class="botao" (click)="cadastrar()" style="color: white; background-color: black;">
      CADASTRAR
    </button>

  </div>
</ion-content>
