.fundo {
  border-radius: 35px;
  background: #000;
  height: 100%;
  width: 100%;
}

.parte-branca {
  background-color: #ffffff;
  border-radius: 35px;
  height: 80%;
  width: 100%;
}

.user {
  display: fixed;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  position: fixed;
  top: 65px;
  left: 330px;
}

.texto1 {
  position: fixed;
  left: 35px;
  top: 50px;
  font-weight: 700;
  font-size: 32px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.texto2 {
  position: fixed;
  left: 35px;
  top: 90px;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.botao {
  position: relative;
  margin-top: 20px;
  left: 30px;
  width: calc(100% - 60px);
  border-radius: 20px;
  text-align: left;
  padding-left: 25px;
  font-weight: 550;
  font-size: 22px;
  color: #ffffff;
  line-height: 30px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
  background-repeat: no-repeat;
}

.azul {
  background-color: #3d8fef;
  background-image: url(../../assets/images/prancheta.png);
  background-position: 200px center;
  background-size: 150px;
  margin-top: 140px;
  height: 20%;
}

.vermelho {
  background-color: #ff4c4c;
  background-image: url(../../assets/images/tijolos.png);
  background-position: right center;
  background-size: 130px;
  height: 20%;
}

.verde {
  background-color: #41f08f;
  background-image: url(../../assets/images/balao.png);
  background-position: 210px top;
  background-size: 120px;
  height: 10%;
}

.amarelo {
  background-color: #ffc71e;
  background-image: url(../../assets/images/calculadora.png);
  background-position: 220px bottom;
  background-size: 90px;
  height: 10%;
}
